<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<div class="container">
  <div class="row row-30" >
    <% @photos.each do |photo| %>
      <div class="col-xs-4 col-md-4 my-3">
          <div class="caption rounded">
            <%= link_to photo_path(photo) do %>
              <span class="text"><p><i class="fas fa-heart"></i> <%= photo.likes_count %></p></span>
              <%= image_tag photo.image.url, class: 'card rounded shadow-lg', width: '100%', height: '220', style: 'object-fit: cover;' %>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>



<br>

<%= link_to 'New Photo', new_photo_path %>
