<%= render 'layouts/navbar' %>

<div class="container-fluid my-5">
  <div class="card shadow mx-auto" style="max-width: 50rem;">
    <div class="card-header">
      <%= image_tag(@photo.user.image.url, size: '50x50',class: 'rounded-circle border border-secondly img-responsive mx-3 my-2') %>
      <span class="m-3"><%= @photo.user.name %></span>
      <span>ひとこと：<%= @photo.description %></span>
    </div>

    <div class="card-body" style="padding: 0;">
        <%= image_tag @photo.image.url, class: 'card-img', alt: 'Card image', style: 'border-radius: 0;' %>
    </div>

    <div class="card-footer">
        <div id="likes_buttons_<%= @photo.id %>" class="float-sm-left ml-5 my-2">
          <%= render partial: "likes/like", locals: {photo: @photo, likes: @likes} %>
        </div>

        <div id="clips_buttons_<%= @photo.id %>" class="float-sm-left ml-5 my-2">
          <%= render partial: "clips/clip", locals: {photo: @photo, clips: @clips} %>
        </div>

        <div class="photo_delete float-sm-right mr-5 my-2">
          <% if @photo.user_id == current_user.id %>
            <%= link_to photo_path(@photo), method: :delete, data: {confirm: '削除していいですか？'}, style: 'color: black;' do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>

        <div class="photo_edit float-sm-right mr-5 my-2">
          <% if @photo.user_id == current_user.id %>
            <%= link_to edit_photo_path(@photo), style: 'color: black;' do %>
              <i class="far fa-edit"></i>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>