<p><%= @photo.user.name %></p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @photo.image.url, class: 'rounded', width: '600', height: 'auto' %>
</p>


<% if @photo.user_id == current_user.id %>
  <%= link_to 'Edit', edit_photo_path(@photo) %>
<% end %>

<%= link_to 'Back', photos_path %>