<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if logged_in? %>
        <%= link_to '一覧ページ', photos_path(current_user.id), class: 'btn btn-outline-primary' %>
        <%= link_to 'ログアウト', session_path(current_user.id), method: :delete, class: 'btn btn-outline-danger' %>
      <% else %>
      <% end %>

      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
